@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #080807;
  --foreground: #E8E8E3;
}

html, body {
  background-color: #080807;
  color: #E8E8E3;
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

/* Lenis smooth scrolling rules */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Minimalist bymonolog scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #080807;
}

::-webkit-scrollbar-thumb {
  background: #2E2E2A;
}

::-webkit-scrollbar-thumb:hover {
  background: #524D47;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
